:host {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hm-chord-input__button-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin: 0;
    width: 300px;
    max-width: 900px;

    @media screen and (min-width: 460px) {
        width: 100%;
    }

    @media screen and (min-width: 900px) {
        justify-content: flex-end;
    }
}

.hm-chord-input__button-list-item {
    flex: 0 0 53px;
    margin: 0 0.25rem;
}

.hm-chord-input__label {
    color: #fff;
    display: flex;
    align-items: center;
}

// TODO: make a button component for these
.hm-chord-input__button {
    position: relative;
    padding: 0.2rem;
    color: #fff;
    font-size: 1rem;
    //font-weight: bold;
    width: 100%;
    border: 0;
    border-radius: 34px;
    background-image: var(--primary);
    outline: none; //a11y replaced

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: var(--scoped-spacer); 
        right: var(--scoped-spacer); 
        bottom: var(--scoped-spacer); 
        left: var(--scoped-spacer);
        border-radius: 34px;
        transition: transform 0.2s ease-in-out;
    }

    &::before {
        --scoped-spacer: 2px;
        background-color: var(--black);
    }

    &::after {
        --scoped-spacer: -3px;
        border: 3px solid rgba(#fff, 0.6);
        opacity: 0;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        transform: scale(0.8);
    }

    &:active::before {
        transform: scale(0.7);
    }

    &:focus::after {
        opacity: 1;
        transform: scale(1);
    }
}

.hm-chord-input__button-inner {
    position: relative;
    padding: 0.2rem;
    //line-height: 34px;
    min-width: 34px;
    background-color: var(--primary);
    margin: 0.2rem;
    display: block; 
    border-radius: 20px;
}