:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hm-chord-input__button-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.hm-chord-input__button-list-item {
    flex: 1;
    margin-right: 0.2rem;
    :last-of-type {
        margin-right: 0;
    }
}

.hm-chord-input__button {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}