<form
  fxLayout="column"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  class="example-form"
>
  <mat-form-field>
    <input
      ngModel
      #emailInput="ngModel"
      name="emailFormControl"
      matInput
      email
      required
      type="email"
      placeholder="Email"
    />
    <mat-error *ngIf="emailInput.hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="!emailInput.hasError('required')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field
    [hintLabel]="
      pwInput.value?.length < 6 && 'Password needs at least 6 characters'
    "
  >
    <input
      [errorStateMatcher]="matcher"
      ngModel
      name="passwordFormControl"
      matInput
      type="password"
      required
      minlength="6"
      #pwInput="ngModel"
      placeholder="Password"
    />
    <mat-hint *ngIf="pwInput.value.length < 6" align="end"
      >{{ pwInput.value?.length }} / 6
    </mat-hint>
    <mat-error
      *ngIf="
        pwInput.blue &&
        pwInput.hasError('minlength') &&
        !pwInput.hasError('required')
      "
    >
      Please create a valid password
    </mat-error>
    <mat-error *ngIf="pwInput.blur && pwInput.hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button type="submit">Sign up</button>
</form>
