hm-hitme:host {
    position: relative;
    height: 100%;
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3fr 1fr 1fr;

    &::before {
        content: '';
        //z-index: -1;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: var(--blue1); // fallback
        background: linear-gradient(
            var(--pink) 2%,
            var(--blue1) 100%
        );
        transition: transform 0.4s ease-in-out;
        transform:
            scale(3)
            translate(-120%, -120%)
            rotate(-45deg);
    }
}

.hm-hitme--gradient-overlay-active:host::before {
    transform:
            scale(3)
            translate(-10%, -10%)
            rotate(-45deg);
}

.hm-hitme__intro-text {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    padding: 0.2rem 1rem;

    @media screen and (min-width: 50rem) {
        grid-column: 2 / 7;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    @media screen and (max-height: 900px) {
        font-size: 0.7rem;
    }

   .hm-hitme__intro-heading {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
        @media screen and (min-width: 50rem) {
            font-size: 2.2rem;
            line-height: 2.8rem;
        }

        @media screen and (max-height: 900px) {
            font-size: 1.5rem;
        }
   }

   .hm-hitme__intro-subheading {
       &::after {
           content: '';
           display: block;
           width: 40px;
           border: 2px solid #fff;
           margin: 30px auto;

           @media screen and (max-height: 900px) {
                margin: 10px auto;
            }
       }
   }

   p {
       margin: 0 0 0.2rem 0;
   }
}

hm-chord-display {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1;
}

.hm-hitme__button,
.hm-hitme__reset-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 100%;
    align-self: end;

    @media screen and (min-width: 50rem) {
         font-size: 2rem;
    }

    @media screen and (max-height: 900px) {
        font-size: 1rem;
    }

}

.hm-hitme__button {
    grid-row: 2;
    grid-column: 2 / span 4;

    @media screen and (min-width: 50rem) {
        grid-column: 3 / span 2;
    }
}

.hm-hitme__reset-button {
    grid-row: 2;
    grid-column: 6 / span 1;

    @media screen and (min-width: 50rem) {
       grid-column: 5;
    }
}

hm-chord-input {
    grid-column: 1 / -1;
    grid-row: 3;
}