:host {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 6fr 1fr 1fr 3fr;
}

hm-chord-display {
    grid-column: 1 / -1;
    grid-row: 2;
}

.hm-hitme__button {
    grid-column: 3 / 6;
    grid-row: -3 / span 1;

    width: 100%;
    padding: 2.2rem;
    color: var(--black);
    font-size: 3rem;
    font-weight: 600;
}

hm-chord-input {
    grid-column: 1 / -1;
    grid-row: -2 / span 1;
}