hm-hitme:host {
    position: relative;
    height: 100%;
}

.hm-hitme__chords-display-grid {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3fr 1fr 1fr;
}

.hm-hitme__intro-text {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: normal;
    font-family: sans-serif;
    max-width: 20ch;

    @media screen and (min-width: 50rem) {
        grid-column: 2 / 7;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    @media screen and (max-height: 600px) {
        font-size: 0.7rem;
    }

   .hm-hitme__intro-heading {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
        @media screen and (min-width: 50rem) {
            font-size: 2.2rem;
            line-height: 2.8rem;
        }

        @media screen and (max-height: 600px) {
            font-size: 1.5rem;
        }
   }

   .hm-hitme__intro-subheading {
       &::after {
           content: '';
           display: block;
           width: 40px;
           border: 2px solid #fff;
           margin: 18px 0;

           @media screen and (max-height: 600px) {
                margin: 10px auto;
            }
       }
   }
}

hm-chord-display {
    grid-column: 1 / -1;
    grid-row: 1;
}

.hm-hitme__button,
.hm-hitme__reset-button {
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 100%;
    border-color: rgba(white, 0.3);

    @media screen and (max-height: 600px) {
        font-size: 1rem;
    }

    @media screen and (min-width: 50rem) {
        font-size: 2rem;
   }
}


.hm-hitme__sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    background: rgba(255,255,255,0.1);
    padding: 1rem;
    box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.5);
    background: var(--black);
}

.hm-hitme__input-control-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;

    @media screen and (min-width: 600px) {
        grid-template-columns: 2fr 1fr 8fr;
    }
}

.hm-hitme__reset-button {
    // override
    .mat-button-wrapper {
        display: inline-flex;
    }
}

.hm-hitme__reset-svg {
    width:20px;
    fill: white;
}

hm-chord-input {
    grid-row: 2;
    grid-column: 1 / -1;

    @media screen and (min-width: 600px) {
        grid-row: 1;
        grid-column: auto / -1;
        justify-content: flex-end;
    }
}