:host {
    display: flex;
    min-height: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-top-right-radius: var(--border-radius-med);
    color: var(--white);
    font-family: var(--font-sans-serif);
}
