@import '~@angular/material/theming';
@include mat-core();

$green: #83A085;
$greenDark: #5B885E;
$gray: #7E887C;

$dark: #41585a;

// TODO clean this up to simplify
$brand-hitmegreen: (
    50: $greenDark,
    100: $greenDark,
    200: $green,
    300: $green,
    400: $dark,
    500: white,
    600: $dark,
    700: $dark,
    800: $green,
    A200: $green,
    A400: $green,
    A700: $green,
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white
    )
);
$hitme-app-primary: mat-palette($brand-hitmegreen);
$hitme-app-accent: mat-palette($brand-hitmegreen, A200, A100, A400);
$hitme-app-warn: mat-palette($brand-hitmegreen);

// Create the theme object (a Sass map containing all of the palettes).
$hitme-app-theme: mat-light-theme(
    $hitme-app-primary,
    $hitme-app-accent,
    $hitme-app-warn
);

@include angular-material-theme($hitme-app-theme);
