<mat-sidenav-container class="app-root__container">
  <mat-sidenav class="app-root__sidebar" mode="over" [(opened)]="sidebarOpened">
    <hm-sidebar (closeSidebar)="onMenuToggle()"></hm-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="app-root__content">
    <div class="app-root__header">
      <button class="app-root__sidebar-toggle-button" (click)="onMenuToggle()">
        <svg class="app-root__sidebar-toggle-svg" viewBox="0 0 38 27">
          <title>menu</title>
          <g>
            <rect width="38" height="5" rx="2.5" ry="2.5" />
            <rect y="11" width="38" height="5" rx="2.5" ry="2.5" />
            <rect y="22" width="38" height="5" rx="2.5" ry="2.5" />
          </g>
        </svg>
      </button>

      <nav class="app-root__auth-links">
        <h1>You are logged {{ isAuth ? "in" : "out" }} as {{currentUser}}</h1>
        <h2>app component isAuth = {{ isAuth }}</h2>
        <ul>
          <li>
            <a routerLink="/auth/register">Register</a>
          </li>
          <li *ngIf="!isAuth">
            <a routerLink="/auth/login">Login</a>
          </li>
          <li *ngIf="isAuth">
            <button (click)="onLogout()">Log out</button>
          </li>
        </ul>
      </nav>
    </div>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
