//global styles
// all other components will use view encapsulation
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Anton');

//get a reset file or do custom
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
app-root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Anton', Helvetica, Arial, sans-serif;
    background: var(--turq-fallback); //fallback
}

p {
    margin: 0 0 0.2rem 0;
}

// end setup - move the above to a reset file

:root {
    --white: #f9f9f9;
    --mint: #dee5db;
    --purpleLight: #dfdbe5;
    --black: #313331;

    --blue1: #6CABFF;
    --turq: #7AE8E0;
    --turq-fallback: rgb(79, 214, 205);

    --pink: #FF83D2;
    --green: #99FFB3;
}

app-root {
    position: relative;
    overflow: hidden; 
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    z-index: 5;
}

main {
    grid-row: 2 / span 1;
}

footer {
    grid-row: -1 / span 1;
}

.app-root__container {
    height: 100%;
    background: linear-gradient(
            -45deg,
            var(--blue1),
            var(--pink)
        );
}

.app-root__sidebar {
    width: 300px;
}

.app-root__content {
    padding: 1rem;
    position: relative;
}

.app-root__header {
    margin-bottom: 30px;
}

.app-root__sidebar-toggle-button {
    background: 0;
    border: 0;
}

.app-root__sidebar-toggle-button {
    fill: white;
    width: 40px;
    height: 30px;
    margin-left: -8px;
}