<mat-toolbar
    class="app-root__toolbar">
    <nav
        class="app-root__nav">
        <a
            routerLink="/">
            <mat-icon>audiotrack</mat-icon>
        </a>
    </nav>

    <!--<ul
        class="__right-links">
        <li>
            <a routerLink="/login">Login</a>
        </li>
        <li>
            <a routerLink="/signup">Signup</a>
        </li>
    </ul>-->
</mat-toolbar>
<hm-chord-display></hm-chord-display>
<hm-hitme></hm-hitme>
<hm-chord-input></hm-chord-input>
<footer></footer>