//global styles
// all other components will use view encapsulation
@import './app.material-theme.scss';
@import './app-setup-styles';

:root {
    --font-serif: miller-banner, serif;
    --font-sans-serif: montserrat, sans-serif;
    --font-main: var(--font-sans-serif);

    font-style: normal;
    font-weight: 400;

    --font-weight: 400;
    --font-weight-bold: 700;
    --white: #f9f9f9;
    --black: #313331;
    --blueDark: #151d5a;
    --green: #83a085;
    --greenDark: #5b885e;
    // --greenLight: #82b8bb;
    // --greenSuperLight: rgb(203, 241, 244);
    // white space force build
    --dark: #5d665b;
    --primary: var(--green);
    --secondary: var(--gray);
    --highlight: var(--greenDark);

    //meh?
    --gray: #7e887c;
    --gray-light: #c9cac9;
    --gray-extra-light: #e4e1e1;
    // --blue1: #6cabff;
    // --blue2: rgb(45, 98, 168);
    --gradient1: linear-gradient(-45deg, var(--primary), var(--secondary));
    --gradient2: linear-gradient(-45deg, var(--secondary), var(--highlight));
    --shadow-layer-1: 0 -2px 16px rgba(0, 0, 0, 0.3);
    --shadow-layer-2: 0 -2px 8px rgba(0, 0, 0, 0.2);
    --border-radius: 4px;
    --border-radius-med: 30px;
    --border-radius-big: 55px;
}

// typography base
body {
    border: 3vw solid var(--white);
    border-bottom: 0;
    font-family: var(--font-main);
    font-weight: var(--font-weight);
}

button,
a {
    color: var(--white);
    text-decoration: none;

    &:focus {
        position: relative;
        color: var(--white);
        outline: none;
    }
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    color: var(--white);
    font-family: var(--font-serif);
}

app-root {
    position: relative;
    overflow: hidden;
}

header {
    z-index: 5;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

main {
    grid-row: 2 / span 1;
}

footer {
    grid-row: -1 / span 1;
}

.app-root__container {
    height: 100%;
    background: var(--gradient1);
}

.app-root__sidebar {
    width: 300px;
    background: var(--primary);
    border-top-right-radius: var(--border-radius-med);

    @media screen and (max-width: 350px) {
        width: 270px;
    }
}

.app-root__content {
    position: relative;
    padding: 1.5rem;

    @media screen and (min-width: 500px) {
        padding: 3rem;
    }
}

.app-root__header {
    margin-bottom: 1rem;
}

.app-root__sidebar-toggle-button.app-root__sidebar-toggle-button {
    position: relative;
    width: 55px;
    height: 55px;
    padding: 14px;
    border: 0;
    background: 0;
    border-radius: 50%;
    fill: white;

    &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid var(--white);
        border-radius: 50%;
        content: '';
        opacity: 0;
        transform: scale(0.2);
        transition: opacity 0.2s cubic-bezier(0.55, -0.26, 0.48, 1.32),
            transform 0.2s cubic-bezier(0.55, -0.26, 0.35, 1.66);
    }

    &:focus::before {
        opacity: 1;
        transform: scale(1);
    }
}

.app-root__sidebar-toggle-button {
    width: 40px;
    height: 30px;
    margin-left: -8px;
}

.app-root__sidebar-header,
.app-root__sidebar-close-button {
    display: flex;
}

.app-root__sidebar-header {
    justify-content: flex-end;
}

.app-root__sidebar-close-button {
    padding: 1rem;
    cursor: pointer;
}

.app-root__sidebar-toggle-button-svg {
    width: 1rem;
    margin-left: 0.8rem;
    fill: var(--black);
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: var(--white);
}

.mat-dialog-title.mat-dialog-title {
    font-family: var(--font-serif);
    font-weight: bold;
}
