:host {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hm-chord-display__chords-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.hm-chord-display__chords-list-item {
    padding: 0.2rem 1rem;
    color: #fff;
    font-weight: 300;
    opacity: 1;
    transform: scale(1);
    @media screen and (min-width: 50rem) {
        font-weight: 600;
    }
}

.hm-chord-display__root-note {
    font-size: 2rem;
    @media screen and (min-width: 50rem) {
        font-size: 4.5rem;
    }
}

.hm-chord-display__quality {

    font-size: 1.8rem;
    @media screen and (min-width: 50rem) {
        font-size: 3rem;
    }
}
