
.hm-key-change-form__current-key-display {
    //font-weight: bold;
    margin: 2rem 0 1rem 0;
    box-shadow: var(--shadow-layer-2);
}

.hm-key-change-form__current-key-centre {
    font-weight: var(--font-weight-bold);
}

.hm-key-change-form__input-group {
    display: flex;
    padding: 0 1rem;
    border-bottom: 1px solid var(--pink);

    > span {
        font-size: 0.8rem;
        color: var(--pink);
        margin-right:0.5rem;
        align-self: center;
    }

    //overrides
    .mat-form-field.mat-focused .mat-form-field-label {
        color: var(--pink);
    }
}



.hm-key-change-form__input-group-item {
    flex: 1 1 auto;

    &:first-of-type {
        width: 15%;
    }
}

.hm-key-change-form__key-name-select {
    width: 100%;
}

.hm-key-change-form__maj-min-toggle {
    display: flex;
    margin-left: 0.5rem;

    mat-button-toggle {
        flex: 1 0 0%;
        padding: 0.2rem;
        font-size: 0.8rem;
    }
    //overrides
    ::ng-deep .mat-button-toggle-label-content {
        line-height: 36px;
        padding: 0;
    } 
}

.mat-button-toggle-checked {
    background-color: var(--pink);
    color: #fff;
}

