<form>
  <h2>Global settings</h2>
  <div class="hm-key-change-form__current-key-display">
    You're in {{ currentGlobalKey.keyName || 'nah' }}{{ currentGlobalKey.keyQuality }}
  </div>

  <div class="hm-key-change-form__input-group">
    <div class="hm-key-change-form__input-group-item">
      <mat-form-field class="hm-key-change-form__key-name-select">
        <mat-label>Key</mat-label>
        <select ngModel name="keyNote" (ngModelChange)="onKeyNoteChange($event)" matNativeControl
          [value]="currentGlobalKey.keyName">
          <option *ngFor="let key of keysData" [value]="key.name">
            {{key.name}}</option>
        </select>
      </mat-form-field>
    </div>
    <div class="hm-key-change-form__input-group-item">
      <mat-button-toggle-group value="maj" (change)="onQualityChange($event)"
        class="hm-key-change-form__maj-min-toggle">
        <mat-button-toggle value="maj">
          Maj
        </mat-button-toggle>
        <mat-button-toggle value="min">
          min
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</form>