:host {
    display: block;
}

.song-list__songs {
    max-width: 400px;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid var(--white);

        > a {
            display: block;
            padding: 1rem;
        }
    }
}
